.todo-container{
    min-height: 100vh;
    display: flex; 
    justify-content: center;

}
.todo-box{
    margin-top: 5rem;
    height: 30rem; 
    min-width: 20rem;
    max-width: 40rem; 
    border-radius: 20px;
    border: 2px solid grey;
    padding: 20px;
    background-color: white;
}
.input-text{
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    border: 1px solid lightgray;
    outline: none;
    min-width: 16rem;
}
.btn{
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    border: 1px solid lightgray;
    outline: none;
    background-color: orange;
    margin-left: -30px;
    cursor: pointer;
}